button {
  height: 45px;
  min-width: 120px;
  background: black;
  color: white;
  border: 1px solid black;
  outline: none;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;

  &:hover {
    background: lighten(black, 20%);
  }

  &.default-active {
    color: white;
    background: rgb(211, 16, 107);

    &:hover {
      background: lighten(rgb(211, 16, 107), 20%);
    }
  }

  &.solo {
    color: black;
    background: yellow;

    &:hover {
      background: lighten(yellow, 20%);
    }
  }

  &.mute {
    color: white;
    background: red;

    &:hover {
      background: lighten(red, 20%);
    }
  }

  &.dim {
    color: white;
    background: #2782f2;

    &:hover {
      background: lighten(#2782f2, 15%);
    }
  }

  &.post {
    color: white;
    background: #069840;

    &:hover {
      background: lighten(#069840, 5%);
    }
  }
}
