/* You can add global styles to this file, and also import other style files */

@use 'bootstrap/scss/bootstrap';

body {
  background: #eee;
}

p {
  label {
    font-weight: bold;
    width: 150px;
  }
}
